.App {
  text-align: center;
}

/* color options at the moment: #1F8AC0, #EFC9AF #104C91 */

body{
  background-color: #1F8AC0;
  color: #EFC9AF;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #104C91;
  color: #EFC9AF;
}

li {
  color: #EFC9AF;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.links {
  color: #EFC9AF
}

.inputField {
  border-radius: 25px;
  border: 3px solid #104C91;
  padding: 20px; 
  width: 200px;    
  height: 7px;
}

.createAccountParagraph {
  display: inline-block;
  margin-left: 5%;
  padding: 1%;
  border-style: solid;
  border-width: 5px;
  border-color: #104C91;
}

@media only screen and (max-width: 376px) and (min-width: 374px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background: #104C91;
    color: #EFC9AF;
  }

  .nav-links {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
  }

  li {
    color: #EFC9AF;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 376px) and (min-width: 374px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background: #104C91;
    color: #EFC9AF;
  }

  .nav-links {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
  }

  li {
    color: #EFC9AF;
    margin-left: 10%;
  }
}