.App {
  text-align: center;
}

/* color options at the moment: #1F8AC0, #EFC9AF #104C91 */

body{
  background-color: #1F8AC0;
  color: white;
}

h1 {
  margin-top: 1%;
  margin-left: 3%;
  text-align: left;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: coral;
  color: white;
}

li {
  color: white;
  font-size: 107%;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.links {
  color: #EFC9AF
}

.inputField {
  border-radius: 25px;
  border: 3px solid #104C91;
  padding: 20px; 
  width: 200px;    
  height: 7px;
}

.createAccountParagraph {
  display: inline-block;
  margin-left: 5%;
  padding: 1%;
  border-style: solid;
  border-width: 5px;
  border-color: #104C91;
}

#errorMessage {
  display: none;
}

#logostuff {
  width: 100px;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.workspace-pic {
  position: absolute;
  top: 500px;
  left: 400px;
  transform: translate(-50%, -50%) scale(0.5) rotate(10deg);
  animation: fadein 0.5s;

}

.workspace-pic:hover {
  z-index: 1;
}

.admin-email {
  display: inline-block;
  width: 80%;
  height: 115%;
  border: solid 1px #104C91;
  margin-top: 1%;
  margin-left: 2%;
  background-color: #104C91;
  color: black;
}


.landingPageLoginButton {
  border-radius: 25px;
  border: 3px solid #104C91; 
  width: 200px;    
  height: 13%;
  text-align: center;
  background-color: coral;
  color: white;
}

.landingPageSignUpButton {
  border-radius: 25px;
  border: 3px solid #104C91; 
  width: 200px;    
  height: 13%;
  text-align: center;
}

#signUpPageHeader {
  margin-top: 2%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#signUpEmail {
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #104C91;
  border-radius: 10px;  
}

#signUpPassword {
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #104C91;
  border-radius: 10px;   
}

#signUpEmailLabel {
  width: 50%;
  margin-top: 3%;
  text-align: left;
}


#signUpPasswordLabel {
  width: 50%;
  margin-top: 3%;
  text-align: left;
}

#signUpButton {
  margin-top: 3%;
  text-align: left;
  border-radius: 10px;
  border: 3px solid #104C91;
}

#loginPageHeader {
  margin-top: 2%;
}

#loginEmail {
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #104C91;
  border-radius: 10px;  
}

#loginPassword {
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #104C91;
  border-radius: 10px; 
}

#loginEmailLabel {
  width: 50%;
  margin-top: 3%;
  text-align: left;
}


#loginPasswordLabel {
  width: 50%;
  margin-top: 3%;
  text-align: left;
}

#loginButton {
  margin-top: 3%;
  text-align: left;
  border-radius: 10px;  
  border: 3px solid #104C91;
}

#albumsPageHeader {
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.albumButtons {
  background-color: coral;
  border-radius: 50px;
  height: 100%;
  width: 10%;
  font-size: 150%;
  display: inline-block;
  margin-left: 2%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 3px solid #104C91;
}

.albumInputs {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  height: 40px
}

#addImageSelect {
  margin-right: 2%;
}

#landingPageGIF {
  border-radius: 50px;
}

#landingHeader {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#landingCaption {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.everyAlbum {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid 1px #104C91;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: #104C91;
  color: white;
  border-radius: 10px;
}

#containerDivForAlbums {
  display: flexbox;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  border: solid 2px #104C91;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

#addedMessageParagraph {
  display: inline-block;
}

#addAlbumHeader {
  margin-top: 1%;
  color: lightsalmon;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#addImageHeader {
  margin-top: 1%;
  color: lightsalmon;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.usernameHeader {
  margin-top: 1%;
  margin-right: 2%;
  text-align: right;
  display: inline-block;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pageHeadersWrapper {
  display: flex;
  justify-content: space-between;
}

#landingPageHeadersWrapper {
  display: block;
}

.albumLabel {
  margin-top: 35px;
  margin-bottom: 35px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#loginHeader {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}